/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
  text-decoration: none;
}

a:hover  {
  text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}


/* Add basic styles */

body {
  background-color: var(--main-color);
  --main-color: #151719;
  --font-color: #FFFFFF;
  --font-size-title: 3rem;
  --font-size-basic: 1rem;
  --font-family: "Roboto", sans-serif;
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: var(--font-size-basic);
}

.container {
  margin: 2rem auto;
  max-width: 80rem;
}

.header__title {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-title);
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.main {
  border: 0.2rem solid var(--font-color);
  border-radius: 0.2rem;
  width: 60rem;
  /* height: 40rem; */
  margin: 0.5rem auto;
  padding: 1rem;
}


/* Slider img */

.main__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.slider__body {
  /* display: flex; */
  /* flex-direction: row; */
  overflow: hidden;
  max-width: 100%;
  height: 35rem;
}

.slider__item {
  width: 100%;
  height: 100%;
}

/* Under image content */

.slider__info {
  display: flex;
  justify-content: space-between;
  /* gap: 35rem; */
  /* width: 100%; */
}

/* Slider text */
.slider__list {
  display: flex;
  flex-direction: row;
  /* max-width: 100rem; */
  /* height: 1rem; */
  overflow: hidden;
  gap: 5rem;
}

.slider__text {
  /* max-width: 10rem; */
  display: block;
  width: 300px;
  font-size: 1.5rem;
  display: none;
}

.slider__text {
  /* max-width: 10rem; */
  display: block;
  width: 300px;
  font-size: 1.5rem;
  display: none;
}

.main__container:has(#slider__ui-1:checked) .slider__ui > .slider__list > #slider__text-1 {
  display: block;
}

.slider__ui {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  gap: 1rem;
  border: 0.1rem solid var(--font-color);
}

.slider__ui-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 100%;
}

.slider__ui-input {
  display: none;
}

#slider__ui-1:checked + .slider__ui-item,
#slider__ui-2:checked + .slider__ui-item,
#slider__ui-3:checked + .slider__ui-item,
#slider__ui-4:checked + .slider__ui-item {
  /* opacity: 1; */
  scale: 1.5;
  background-color: red;
  transition: all 0.2s ease-in;
}

#slider__ui-1:not(:checked) + .slider__ui-item,
#slider__ui-2:not(:checked) + .slider__ui-item,
#slider__ui-3:not(:checked) + .slider__ui-item,
#slider__ui-4:not(:checked) + .slider__ui-item {
  /* opacity: 1; */
  scale: 1;
  background-color: var(--font-color);
  transition: all 0.2s ease-in;
}

.slider__ui-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--font-color);
  border-radius: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.radio-pseudo {
  display: none;
  background-color: var(--font-color);
  border-radius: 0.5rem;
  width: 0.6rem;
  height: 0.6rem;
}

#slider__ui-1:checked + .slider__ui-item .radio-pseudo,
#slider__ui-2:checked + .slider__ui-item .radio-pseudo,
#slider__ui-3:checked + .slider__ui-item .radio-pseudo,
#slider__ui-4:checked + .slider__ui-item .radio-pseudo {
  /* opacity: 1; */
  display: block;
  transition: all 0.2s ease-in;
}
#slider__ui-1:not(:checked) + .slider__ui-item .radio-pseudo,
#slider__ui-2:not(:checked) + .slider__ui-item .radio-pseudo,
#slider__ui-3:not(:checked) + .slider__ui-item .radio-pseudo,
#slider__ui-4:not(:checked) + .slider__ui-item .radio-pseudo {
  /* opacity: 1; */
  display: none;
  transition: all 0.2s ease-in;
}

/* Footer styles */

.footer {
  margin-top: 2rem;
}

.footer__img {
  width: 5rem;
  height: 5rem;
}

.footer__name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-title);
  color: var(--font-color);
  gap: 2rem;
}

/* Media querys */
@media screen and (hover: hover) {
  .slider__ui-area:hover {
    cursor: pointer;
    background-color: #000;
  }
  .slider__ui-area:hover .slider__ui-item-2 {
    cursor: pointer;
    background-color: #000;
  }

  #slider__ui-1:checked:hover + .slider__hover-1,
  #slider__ui-2:checked:hover + .slider__hover-2,
  #slider__ui-3:checked:hover + .slider__hover-3,
  #slider__ui-4:checked:hover + .slider__hover-4 {
    /* opacity: 1; */
    scale: 1.5;
    background-color: green;
    transition: all 0.2s ease-in;
  }
}